# Loading the Data

In [3]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')
# print(df.head(3))
# print(df.tail(3))

# df_xlsx = pd.read_excel('pokemon_data.xlsx')
# print(df_xlsx.head(3))

# df = pd.read_csv('pokemon_data.txt')
# df = pd.read_csv('pokemon_data.txt',delimiter='\t')
# print(df.head(5))

# Reading the Data

In [66]:
### Reading the headers
# print(df.columns)

### Reading each column
# print(df['Name'][2:6])
# print (df.Name)
# print(df[['Name','Type 1','HP']][:5])

### Reading each row
# print(df.head(5))
# print(df.iloc[0])
# print(df.iloc[:3])

### Iterate through each row
# for index,row in df.iterrows():
#     # print(index,row)
#     print(index,row['Name'])

### Getting rows on a pecific condition
df.loc[df['Type 1'] == 'Grass']
# df.loc[df['Legendary']]

### Reading specific location (R,C)
# print(df.iloc[4,2])
# print(df.iloc[4,1])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

# Describing Data

In [22]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

# Sorting Data

In [94]:
# df
# df.sort_values('Name')
# df.sort_values('Name',ascending=False)

# df.sort_values(['Type 1','HP'],ascending=False)
# df.sort_values(['Type 1','HP'],ascending=[True,False])
df.sort_values(['Type 1','HP'],ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False,515
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False,550
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False,500
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False,600
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False,495
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False,325
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False,295
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False,340
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False,200
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False,200

# Making changes to Data

In [128]:
# df.head(5)

### Adding a new column to the data
# df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
df.head(5)
# df.sort_values('Total',ascending=False)

# Removing the column (Dropping)
df.drop(columns=['Total'])


### Another way of adding using iloc
df['Total'] = df.iloc[:,4:10].sum(axis=1)
df.head(5)
# df.sort_values('Total',ascending=False)


## Rearranging the columns

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [84]:
105+180+100+180+100+115

780