# Loading the Data

In [118]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')
# print(df.head(3))
# print(df.tail(3))

# df_xlsx = pd.read_excel('pokemon_data.xlsx')
# print(df_xlsx.head(3))

# df = pd.read_csv('pokemon_data.txt')
# df = pd.read_csv('pokemon_data.txt',delimiter='\t')
# print(df.head(5))

# Reading the Data

In [121]:
### Reading the headers
# print(df.columns)

### Reading each column
# print(df['Name'][2:6])
# print (df.Name)
# print(df[['Name','Type 1','HP']][:5])

### Reading each row
# print(df.head(5))
# print(df.iloc[0])
# print(df.iloc[:3])

### Iterate through each row
# for index,row in df.iterrows():
#     print(index,row)
#     print(index,row['Name'])

### Getting rows on a specific condition
df.loc[df['Type 1'] == 'Grass']
# df.loc[df['Legendary']]

### Reading specific location (R,C)
# print(df.iloc[4,2])
# print(df.iloc[4,1])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

# Describing Data

In [124]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

# Sorting Data

In [127]:
# df
# df.sort_values('Name')
# df.sort_values('Name',ascending=False)

# df.sort_values(['Type 1','HP'],ascending=False)
# df.sort_values(['Type 1','HP'],ascending=[True,False])
df.sort_values(['Type 1','HP'],ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

# Making changes to Data

In [130]:
# df.head(5)

### Adding a new column to the data
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
df.head(5)
# df.sort_values('Total',ascending=False)

# Removing the column (Dropping)
# df.drop(columns=['Total'])


### Another way of adding using iloc
# df['Total'] = df.iloc[:,4:10].sum(axis=1)
# df.head(5)
# df.sort_values('Total',ascending=False)
## Rearranging the columns

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [132]:
105+180+100+180+100+115

780

# Rearranging the Data

In [136]:
# Moving the total column to left
cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]] # very bad method as we are using hard coding method(using numbers).
df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

# Saving the Data

In [145]:
# df.to_csv('modified.csv')
# df.to_csv('modified.csv',index=False)

# df.to_excel('modified.xlsx',index=False)

df.to_csv('modified.txt',index=False,sep='\t')

# Filtering the data

In [214]:
# df.loc[df['Type 1'] == 'Grass']
# df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Flying')] --------------> AND Operation
# df.loc[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Flying')] #--------------> OR Operation
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Flying') & (df['HP']>80)]
# df.head(4)
new_df
# new_df.to_csv('nw_modified.csv')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
390,357,Tropius,Grass,Flying,460,99,68,83,72,87,51,3,False
551,492,ShayminSky Forme,Grass,Flying,600,100,103,75,120,75,127,4,True

In [263]:
# new_df=new_df.reset_index
# new_df=new_df.reset_index(drop=True)
new_df.reset_index(drop=True,inplace=True)
new_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,357,Tropius,Grass,Flying,460,99,68,83,72,87,51,3,False
1,492,ShayminSky Forme,Grass,Flying,600,100,103,75,120,75,127,4,True

# Regex Filtering (Filtering based on textual patterns)

In [266]:
# df.loc[df['Name'].str.contains('Mega')]
# df.loc[~df['Name'].str.contains('Mega')]
import re

# df.loc[df['Type 1'].str.contains('Grass|Fire',regex=True)]
# df.loc[df['Type 1'].str.contains('grass|fire',regex=True)] --------------> error
# df.loc[df['Type 1'].str.contains('grass|fire', flags=re.I , regex=True)] #----------->key insensitive
df.loc[df['Name'].str.contains('pi[a-z]*',regex=True)] #------------> words containing pi 
# df.loc[df['Name'].str.contains('^pi[a-z]*',regex=True)] #--------------> NOT WORKING

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
42,37,Vulpix,Fire,NaN,299,38,41,40,50,65,65,1,False
76,70,Weepinbell,Grass,Poison,390,65,90,50,85,45,55,1,False
84,78,Rapidash,Fire,NaN,500,65,100,70,80,80,105,1,False
181,167,Spinarak,Bug,Poison,250,40,60,40,40,40,30,2,False
189,175,Togepi,Fairy,NaN,245,35,20,65,40,65,20,2,False
202,187,Hoppip,Grass,Flying,250,35,35,40,35,55,50,2,False
266,247,Pupitar,Rock,Ground,410,70,84,70,65,70,51,2,False
345,316,Gulpin,Poison,NaN,302,70,43,53,43,53,40,3,False
357,326,Grumpig,Psychic,NaN,470,80,45,65,90,110,80,3,False
358,327,Spinda,Normal,NaN,360,60,60,60,60,60,60,3,False
359,328,Trapinch,Ground,NaN,290,45,100,45,45,45,10,3,False
390,357,Tropius,Grass,Flying,460,99,68,83,72,87,51,3,False
463,416,Vespiquen,Bug,Flying,474,70,80,102,80,102,40,4,False
488,440,Happiny,Normal,NaN,220,100,5,5,15,65,30,4,False
490,442,Spiritomb,Ghost,Dark,485,50,92,108,92,108,35,4,False
501,451,Skorupi,Poison,Bug,330,40,50,90,30,55,65,4,False
502,452,Drapion,Poison,Dark,500,70,90,110,60,75,95,4,False
557,498,Tepig,Fire,NaN,308,65,63,45,45,45,45,5,False
596,536,Palpitoad,Water,Ground,384,75,65,55,65,55,69,5,False
718,650,Chespin,Grass,NaN,313,56,61,65,48,45,38,6,False